/*
!.config/
.config/*
!.config/user-dirs.dirs
!.emacs.d/
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/config/
!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs
!.gitconfig
!.gitignore
!.notmuch-config
!.offlineimaprc
!.bash_profile
!.xinitrc
!.xmobarrc
!.Xresources

