XTerm:selectToClipboard: true
XTerm*faceName: xft:Inconsolata
XTerm*faceSize: 16
XTerm*loginShell: true
XTerm.vt100.locale: true
XTerm*vt100*geometry: 80x50
XTerm*saveLines: 16384
XTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm*termName: XTerm-color
XTerm*eightBitInput: false
XTerm*foreground: rgb:a8/a8/a8
XTerm*background: rgb:00/00/00
XTerm*color0: rgb:00/00/00
XTerm*color1: rgb:a8/00/00
XTerm*color2: rgb:00/a8/00
XTerm*color3: rgb:a8/54/00
XTerm*color4: rgb:00/00/a8
XTerm*color5: rgb:a8/00/a8
XTerm*color6: rgb:00/a8/a8
XTerm*color7: rgb:a8/a8/a8
XTerm*color8: rgb:54/54/54
XTerm*color9: rgb:fc/54/54
XTerm*color10: rgb:54/fc/54
XTerm*color11: rgb:fc/fc/54
XTerm*color12: rgb:54/54/fc
XTerm*color13: rgb:fc/54/fc
XTerm*color14: rgb:54/fc/fc
XTerm*color15: rgb:fc/fc/fc
XTerm*boldMode: false
XTerm*colorBDMode: true
XTerm*colorBD: rgb:fc/fc/fc

Emacs.font: Inconsolata:size=18
